@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    background-color:#f1f5f8;
}
.list:hover{
    border-bottom: 3px solid black;
    padding-top: 2px;
}
.card-size{
    height: 100%;
}
.img-size{
    width:100%;
    height:70%;
}
.input-container{
    width:50%;
}

.btn-width{
    width:100%;
}
.input{
    padding-left: 30px;
}
.search-container{
    position:relative;
}
.search-container1{
    position:absolute;
    bottom:15px;
    padding-left: 10px;
    opacity: 0.5;
}
.aboutdog{
    @apply text-2xl text-center font-bold font-mono tracking-widest md:text-6xl text-green-900
}
.template-container{
    @apply grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mb-10 max-w-7xl mx-auto

}


@media only screen and (max-width:600px){
    .card-size{
        margin:10px;
    }
    .about{
        margin-top: 0;
    }
    .input-container{
        width:100%;
    }
    
}